* {
    background-color: white;
}

.generate-ai-answer-container {
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p, strong, label {
    background-color: transparent !important;
    color: black
}


.generate-ai-answer-container h1 {
  font-family: Montserrat; /* Heading */
  font-size: 30px; 
  line-height: 36px; 
  font-weight: 700; 
  color: #1A1A1AFF; 
}


.generate-ai-answer-container h2 {
  width: 343px; 
  font-family: Open Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 400; 
  color: #5F5F5FFF; 
  margin-top: 27px;
}

.generate-ai-answer-container .resource-details {
  width: 343px; 
  height: 272px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; 
  box-shadow: 0px 0px 1px #171a1f14, 0px 0px 2px #171a1f14;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.generate-ai-answer-container .resource-details h3 {
  width: 224px; 
  font-family: Open Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #1A1A1AFF;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 22px;
}

.generate-ai-answer-container .resource-details a {
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #1A1A1AFF; 
  background: #00000000; /* transparent */
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 13px;
}

.generate-ai-answer-container .resource-details a:hover {
      color: #1A1A1AFF; 
  background: #00000000;
}

.generate-ai-answer-container .resource-details a:hover:active {
      color: #1A1A1AFF; 
  background: #00000000;
}

.generate-ai-answer-container .resource-details p {
      width: 287px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #5F5F5FFF; 
}


.question-for-ai {
  width: 343px; 
  height: 352px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; 
  box-shadow: 0px 0px 1px #171a1f14, 0px 0px 2px #171a1f14;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.question-for-ai h2 {
  font-family: Open Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #1A1A1AFF; 
  margin-top: 42px;
  margin-left: 70px;
  margin-bottom: 10px;
}

.question-for-ai label {
    margin-top: 10px;
    font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 

}

.question-for-ai textarea {
      width: 309px; 
  height: 170px; 
  padding-top: 7px; 
  padding-bottom: 7px; 
  padding-left: 12px; 
  padding-right: 12px; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #5F5F5FFF; 
  background: #FFFFFFFF; /* white */
  border-radius: 6px; 
  border-width: 1px; 
  border-color: #E1E1E1FF; 
  border-style: solid; 
  resize: none;
  outline: none;
}

.question-for-ai textarea:hover {
      background: #FFFFFFFF; /* white */
  border-color: #E1E1E1FF
}

.question-for-ai textarea:focus {
  background: #FFFFFFFF; /* white */
  border-color: #E1E1E1FF; 
  box-shadow: 0px 0px 5px #E1E1E133; 
}

.question-for-ai button {
      width: 190px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #FFFFFFFF; /* white */
  background: #1F9EF9FF; 
  border: none; 
  border-radius: 6px; 
  margin-top: 16px;
}

.question-for-ai button:hover {
  color: #FFFFFFFF; /* white */
  background: #0568B0FF;
}

.question-for-ai button:hover:active {
      color: #FFFFFFFF; /* white */
  background: #035088FF;
}

.ai-generated-answer {
  width: 343px; 
  height: 235px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; 
  box-shadow: 0px 0px 1px #171a1f14, 0px 0px 2px #171a1f14; /* shadow-xs */
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.ai-generated-answer h3 {
      font-family: Open Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #1A1A1AFF; 
  margin-top: 42px;
  margin-left: 16px;
  margin-bottom: 10px;
}

.ai-generated-answer .ai-text-container {
  width: 309px; 
  height: 113px; 
  background: #F9F9F933; 
  border-radius: 6px; 
  border-width: 1px; 
  border-color: #F4F4F4FF; 
  border-style: solid; 
}

.ai-generated-answer .ai-text-container .text {
  width: 270px; 
  font-family: Open Sans; /* Body */
  font-size: 16px; 
  line-height: 24px; 
  font-weight: 400; 
  color: #5F5F5FFF; 
  font-style: italic;
  margin-left: 16px;
  margin-top: 22px;
}


@media (min-width: 764px) {

    .generate-ai-answer-container {
        width: 1130px;
        margin-left: 300px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .generate-ai-answer-container h1 {
        margin-top: 10px;
        margin-left: 30px;
    }

    .generate-ai-answer-container h2 {
          font-family: Open Sans; /* Body */
            width: 100%;
            margin-left: 30px;

    }

    .generate-ai-answer-container .resource-details,
    .generate-ai-answer-container .ai-generated-answer {
        width: 1056px;
        align-items: start;
        margin-left: 30px;
        height: 200px;
    }

    .generate-ai-answer-container .resource-details h3, 
    .generate-ai-answer-container .resource-details a, 
    .generate-ai-answer-container .resource-details p,
    .question-for-ai label,
    .generate-ai-answer-container .ai-generated-answer h3{
        width: 100%;
        text-align: start;
        margin-left: 16px;
    }

    .question-for-ai {
        align-items: start;
        margin-left: 30px;
        width: 1056px;
    }

    .question-for-ai textarea,
    .generate-ai-answer-container .ai-generated-answer .ai-text-container {
        width: 1024px;
        margin-left: 16px;
    }

    .question-for-ai button {
        margin-left: 16px;
        width: 1024px;
    }

     .generate-ai-answer-container .ai-generated-answer .ai-text-container .text {
        width: 1000px;
     }

}







