
body, html {
    margin: 0;
    padding: 0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optional but recommended for consistent box model behavior */
}

.header-logo {
  width: 30px; 
  height: 30px; 
}

.header-title {
  font-family: Montserrat; /* Heading */
  font-size: 15px; 
  line-height: 20px; 
  font-weight: 700; 
  color: #1F9EF9FF; 
}

.header {
   margin-top: 0;
   display: flex;
   position: absolute;
   right: 1px;
   display: flex;
   align-items: center;
   gap: 20px;
   position: fixed;
   background-color: white;
   z-index: 1;
   height: 80px;
   border-bottom: 1.5px solid rgba(202, 200, 200, 0.39); 
   width: 100%;
   margin-right: 0;
}

.logo-and-title {
    margin-left: 60px;
    display: flex;
    align-items: center;
    width: 75%;
    gap: 10px;
}

.points-and-profile {
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 270px;
    gap: 10px;
}

p, strong, label {
    background-color: transparent !important;
    color: black
}



.points {
    color: black;
    font-weight: bold;
}

.sign-out {
    margin-left: 20px;
    color: rgb(85, 17, 17);
    cursor: pointer;
}



.profile-picture { 
  width: 36px; 
  height: 36px; 
  background: grey; 
  opacity: 1; 
  overflow: hidden; 
  border-radius: 50%;
  margin-right: 30px;
}

hr {
  position: absolute; 
  top: 64px; 
  left: 0px; 
  width: 100%; 
  height: 0px; 
  border-width: 1px; 
  border-color: #F4F4F4FF; 
  border-style: solid; 
  transform: rotate(0deg);
}


@media (min-width: 764px) {

    .header-title {
        font-size: 20px;
    }

    .header {
        width: 100%;
    }

    .logo-and-title {
        width: 73%;
    }

    .points-and-profile {

    }

    .logo-and-title {
    margin-left: 60px;
    display: flex;
    align-items: center;
    width: 75%;
    gap: 10px;
    }

    .header-logo {
    width: 32px; 
    height: 32px; 
    }

    .header-title {
    font-family: Montserrat; /* Heading */
    font-size: 24px; 
    line-height: 20px; 
    font-weight: 700; 
    color: #1F9EF9FF; 
    }



}