.my-contributions-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.my-contributions-div h1 {
  font-family: Montserrat; /* Heading */
  font-size: 24px; 
  line-height: 32px; 
  font-weight: 700; 
  color: #1A1A1AFF;
  margin-bottom: 40px; 
}

.my-contributions {
    max-height: 700px;
    overflow-y: auto;
}

p, strong, label {
    background-color: transparent !important;
    color: black
}

.contribution {
  width: 342px; 
  height: 206px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; 
  box-shadow: 0px 0px 1px #171a1f14, 0px 0px 2px #171a1f14; /* shadow-xs */
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  gap: 4px;
  margin-bottom: 16px;
}

.contribution-title {
  margin-top: 18px;
  font-family: Open Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #1A1A1AFF;
  margin-left: 16px; 
  margin-right: 16px;
}

.contribution-details {
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #5F5F5FFF; 
  margin-left: 16px;
  margin-right: 16px;
}

.contribution-points {
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #5F5F5FFF;
  margin-left: 16px;
  margin-right: 16px;
}

.value {
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #1F9EF9FF;
}

.view-contribution-details {
  width: 309.328125px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #FFFFFFFF; /* white */
  background: #1F9EF9FF; 
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  margin-left: 16px;
  margin-top: 52px;
  margin-right: 16px;
}


@media (min-width: 764px) {

    .my-contributions-div {
          width: 1184px; 
          height: 836px;
          margin-left: 430px;
          display: flex;
          flex-direction: column;
          text-align: left; 
          align-items: left;
    }

    .my-contributions {
        max-width: 1184px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 15px;
    }

}
