
.resource-details-locked-container {

}

.resource-details-locked {
    border: 0.5px solid rgba(207, 205, 205, 0.291);
    box-shadow: 0px 0px 1px rgba(224, 224, 224, 0.246), 0px 0px 2px #171a1f14; 
    border-radius: 25px;
}

.resource-details-locked-container h1 {
  font-family: Montserrat; /* Heading */
  font-size: 30px; 
  line-height: 36px; 
  font-weight: 700; 
  color: #1A1A1AFF; 
  margin-bottom: 4px;
}

.resource-details-locked h2 {
      width: 290px; 
  font-family: Montserrat; /* Heading */
  font-size: 24px; 
  line-height: 32px; 
  font-weight: 700; 
  color: #1A1A1AFF;
  margin-top: 17px;
}

.resource-type-tag {
  width: 119px; 
  height: 22px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  font-family: Open Sans; /* Body */
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 400; 
  opacity: 1;
    height: 22px; 
  padding-left: 6px; 
  padding-right: 6px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 9999px;
  background-color: rgba(203, 202, 202, 0.267);
  margin-top: 0px;
  margin-bottom: 8px;
}

.resource-meta-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    margin-top: 27px;
}

.instructor {
    width: 100px;
    display: flex;
    align-items: center;
}

.upload-date {
    display: flex;
    gap: 14px;
    align-items: center;
}

.upload-date-icon {
    width: 16px;
    height: 16px;
}

.uploader-profile {
  margin-top: 21px;
  width: 336px; 
  height: 248px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; 
  box-shadow: 0px 0px 1px rgba(224, 224, 224, 0.246), 0px 0px 2px #171a1f14; /* shadow-xs */
}

.uploader-profile h3 {
  font-family: Montserrat; /* Heading */
  font-size: 20px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #1A1A1AFF;
  margin-top: 42px;
  margin-left: 42px;
}

.uploader-info {
    margin-top: 40px;
    display: flex;
    margin-left: 40px;
}

.uploader-profile-pic-img {
  width: 40px; 
  height: 40px; 
  background: #EFF8E4FF; 
  opacity: 1; 
  overflow: hidden; 
  border-radius: 20px;
  outline: none;
}

.uploader-meta-data {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.view-profile-button {
      width: 256px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #1A1A1AFF; 
  background: #FFFFFFFF; /* white */
  opacity: 1; 
  border-radius: 6px; 
  border-width: 1px; 
  border-color: #E1E1E1FF; 
  border-style: solid;
  margin-top: 14px;
  margin-left: 40px;
}

.view-profile-button:hover {
  color: #1A1A1AFF; 
  background: #FFFFFFFF; /* white */
}

.view-profile-button:hover:active {
  color: #1A1A1AFF; 
  background: #FFFFFFFF; /* white */
}

.unlock-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11px;
  width: 336px; 
  height: 219px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; 
  box-shadow: 0px 0px 1px rgba(224, 224, 224, 0.246), 0px 0px 2px #171a1f14;
}

.unlock-info .label {
    margin-top: 48px;
      font-family: Open Sans; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #5F5F5FFF; 
}

.unlock-info .points-req {
  font-family: Montserrat; /* Heading */
  font-size: 36px; 
  line-height: 40px; 
  font-weight: 700; 
  color: #1F9EF9FF; 
}

.unlock-info .remark {
  width: 193px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #1A1A1AFF; 
  background: #00000000; /* transparent */
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
}

.resource-description {
      width: 355px; 
  font-family: Open Sans; /* Body */
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 400; 
  color: #1A1A1AFF; 
  margin-top: 23px;
  padding: 16px;
}

.unlock-resource-button {
      width: 148.046875px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Open Sans; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #FFFFFFFF; /* white */
  background: #1F9EF9FF; 
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
  margin-top: 23px;
  margin-bottom: 45px;
}

.unlock-resource-button:hover {
  color: #FFFFFFFF; /* white */
  background: #0568B0FF; 
}

.unlock-resource-button:hover:active {
  color: #FFFFFFFF; /* white */
  background: #035088FF; 
}

.important-information {
  width: 317px; 
  height: 260px; 
  background: #FFFFFFFF; /* white */
  border-radius: 8px; 
  box-shadow: 0px 0px 1px rgba(224, 224, 224, 0.246), 0px 0px 2px #171a1f14;
  margin-top: 30px;
}

.important-information h3 {
  font-family: Montserrat; /* Heading */
  font-size: 20px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #1A1A1AFF;
  margin-left: 19px;
  margin-top: 24px;
  margin-bottom: 10px;
}

.important-information li {

    margin-left: 24px;
  width: 280px; 
  font-family: Open Sans; /* Body */
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #5F5F5FFF; 
}

@media (max-width: 763px) {

    .resource-details-locked-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

    .resource-meta-data {
        justify-content: center;
        align-items: center;
    }

    .upload-date {
            justify-content: center;
    align-items: center;
    }

}

@media (min-width: 764px) {

    .resource-details-locked-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 100px;
    width: 1000px;
    margin-left: 350px;
}


.resource-details-locked {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.resource-details-locked h2 {
    width: 1000px;
    margin-left: 50px;
    margin-top: 30px;
}

.resource-meta-data {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 50px;
}

.upload-date {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: left;
}

.uploader-profile-and-unlock-points {
    display: flex;
    gap: 20px;
    justify-content: left;
}

.resource-description {
    width: 616px;
}

.important-information {
  width: 1000px; 
  height: 232px; 
}

.important-information h3 {
    margin-left: 45px;
    margin-bottom: 32px;
}

.important-information li {
    margin-left: 45px;
    width: 800px;
    padding-bottom: 4px;
}

.uploader-profile-and-unlock-points {
    justify-content: center;
}

.unlock-info {
    height: 248px;
}
}

